@import './uikit';
@import './variables';
@import './spinner';

html, body {
	height: 100%;
	width: 100%;
	padding: 0 !important;
	overflow: visible !important;
	margin: 0;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 400;
	color: #323232;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}
a {
	font-family: 'Roboto', arial, sans-serif !important;
	color: #323232;
	&:hover {
		text-decoration: underline !important;
	}
}
#app {
	height: 100%;
}
.uk-modal {
	opacity: 1;
	transition: none;
}
.uk-modal-full {
	.uk-modal-dialog {
		transform: none;
		transition: none;
	}
}
.uk-modal-dialog {
	opacity: 1;
	transform: none;
	transition: none;
}
.uk-container {
	min-height: calc(100% - 161px);
	margin-bottom: 100px;
}
.uk-container-small {
	h1 {
		text-align: center;
    margin-top: 40px;
	}
	h2 {
		color: $red;
	}
}
.uk-close {
  position: absolute;
  right: 0px;
  top: 10px;
  width: 60px;
  height: 60px;
  display: block;
	z-index: 5000;
	&:hover {
		opacity: 1;
	}
	&:before, &:after {
		position: absolute;
	  left: 15px;
	  content: ' ';
	  height: 60px;
	  width: 3px;
	  background-color: #333;
	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
}

button {
	background-color: $red;
	color: white !important;
}

.switchContainer {
  margin-bottom: 5px;
	> div {
		background-color: $lightGrey;
		border: none;
		&.on {
			background-color: $lightGrey;
			> div {
				left: 27px !important;
				background-color: $red;
			}
		}
		> div {
			background-color: $grey;
			border: none;
			box-shadow: none;
	    width: 19px;
  		height: 19px;
  		top: 4px;
			left: 4px;
		}
	}
	> span {
		top: 1px;
		position: relative;
		vertical-align: top;
		margin-left: 10px;
	}
}
.input-container {
	margin-bottom: 15px;
	position: relative;
	label {
    margin-bottom: 5px;
    display: inline-block;
	}
	.uk-input {
		height: 50px;
	}
}
.subTitle {
	color: #444;
	text-align: center;
}

.double-input-container {
	> .input-container {
		width: 48.5%;
		float: left;
		&:last-child {
			float: right;
		}
	}
	&:after {
		content: "";
		clear: both;
		display: block;
	}
}

.rangeslider-horizontal {
	.rangeslider__fill {
		background-color: $red !important;
	}
	.rangeslider__handle {
		box-shadow: none !important;
		outline: none !important;
		&:after {
			display: none;
		}
	}
	.rangeslider__handle-tooltip {
		display: none !important;
	}
}

.validation-tooltip {
  color: white;
  position: absolute;
	left: -230px;
  display: block;
  width: 215px;
  background: $red;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
  bottom: 7px;
	&:after {
		content:"";
    position: absolute;
    right: -8px;
    top: 4px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 10px;
		border-color: transparent transparent transparent $red;
	}
	&.right {
    right: auto;
    left: 106%;
		&:after {
	    left: -8px;
			border-width: 15px 10px 15px 0;
			border-color: transparent $red transparent transparent;

		}

	}
}
